ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
  }
  
  li a:hover {
    background-color:rgb(65, 65, 241);
    color: #fff;
  }

 

  ul li button{
    background-color: orangered;
    margin-top: 12px;
    border-style: none;
    border-radius: 3px;
    padding: 3px 15px 3px 15px;
  }

  ul li img{
    width: 25px;
    height: 25px;
    margin-top: 11px;
    padding-left: 20px;
  }

 #img{
    width: 40px;
    height: 40px;
    align-items: center;
  }

  #yourlogo{
    margin-left: 200px;
  }

  #navbar{
    margin-left: 150px;
    background-color: rgb(65, 65, 241);
  }

  #navbarsearch{
    margin-left: 150px;
  }

  .content{
    text-align: center;
    height: 350px;
    background-image:url("assets/backgroundimage.jpg");
    padding-top: 50px;
    color: white;
    
  }

  .h5{
    color: #fff;
  }
  .button{
    background-color: orangered;
    padding: 10px 50px 10px 50px;
    font-size: 18px;
    color: white;
    font-weight: 800;
    border-style: none;
    border-radius: 8px;
    
  }

  .dotstyle{
    text-align: right;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
   
  }

  .dot1{
    height: 15px;
    width: 15px;
    background-color:orangered;
    border-radius: 50%;
    display: inline-block;
    
  }
  
  .button2{
    color: white;
    background-color: rgb(54, 135, 241);
    margin-left: 585px;
    padding: 5px 18px 5px 18px;
    border-style: none;
    border-radius: 3px;
    font-weight: 700;
    
  }

  .services{
    height: 200px;
  }

  .servicescontent{
   margin-left: 180px;
   
  }
  .container {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
  }

  .box div {
    width: 100px;
    display: inline-block;
    padding: 10px 100px 10px 100px;
    text-align: center;
    color: #000000;
    font-family: arial, sans-serif;
  }
  .div1 {
    background-color: white;
  }
  .div2 {
    background-color:white;
  }
  .div3 {
    background-color: white;
  }
  .div4 {
    background-color:white;
  }

img{
    width: 100px;
    height: 100px;
    margin-left: 0px;
}
p1{
    color: rgb(38, 132, 240);
}
 .container{
    background-color:rgb(74, 74, 75);
    height: 450px;
    width: 100%;
 }

 #h1{
    color: orangered;
    margin-left: 150px;
 }
 #button3{
    background-color:  rgb(38, 132, 240);
    color: white;
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    margin-left: 500px;
 }

 

 .portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 10rem;
    width:16rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    border: 8px solid #fff ;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box h1{
    color: orangered;
}

.p{
  color: orangered;
}

.container1{
    width: 100%;
    height: 300px;
   
}


#h4{
    text-align: center;
    color:  rgb(38, 132, 240);
   
}
#p4{
    text-align: center;
}

.text{

  text-align: left;
}

b{
    color:rgb(38, 132, 240) ;
}
#button4{
    background-color: rgb(38, 132, 240);
    border-style: none;
    border-radius: 2px;
    color: #fff;
}

.container2{
    width: 100%;
    height: 300px;
    background-color: #fff;
   
}
h3{
    text-align: center;
}

h5{
    color: rgb(231, 106, 60);
    text-align: center;
}

.image{
   margin-left: 40%;
}

.container3{
    display: flex;
    background-color: rgb(74, 74, 75);
    width: 100%;
    height: 400px;
    align-content: center;
    justify-content: center;
   
}

 .container3 div{
    background-color: rgb(74, 74, 75);
    align-items: center;
    margin: 20px;
    width: 100%;
    margin-left: 50px;
    padding:50px;
   color: rgb(231, 106, 60) ;
   font-weight: 600;
  line-height: 0.9;
 }
 
 .container3 div h4{
    color: #fff;
    font-size: x-small;
 }

 .container3 div  a{
    font-size: x-small;
 }

 .container3 div button{
    background-color:  rgb(38, 132, 240);
    border-style: none;
    padding: 5px;
    border-radius: 3px;
    margin-left: 133px;
    color: #fff;
 }
/*Responsive*/
@media (max-width:768px){
 
 ul{
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  font-size: 12px;
 }
 ul li {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 ul li button{
  background-color: orangered;
  margin-top: 15px;
  border-style: none;
  border-radius: 3px;
  padding: 1px 5px 1px 5px;
  font-size: 10px;
}

ul li img{
  width: 25px;
  height: 25px;
  margin-top: 11px;
  padding-left: 15px;
}

#yourlogo{
  margin-left: 140px;
}

#navbar{
  margin-left: 100px;
  background-color: rgb(65, 65, 241);
}

#navbarsearch{
  margin-left: 60px;
}

#img{
  width: 20px;
  height: 20px;
  align-items: center;
  margin-top: 15px;
}
.content{
  text-align: center;
  height: 300px;
  background-image:url("assets/backgroundimage.jpg");
  padding-top: 4 0px;
  color: white;
  
}


  .button2{
    margin-left: 300px;
  }

  .services{
    height: 70px;
  }

  .servicescontent{
   margin-left: 100px;
   
  }
  .box div {
    width: 100px;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    text-align: center;
    color: #000000;
    font-family: arial, sans-serif;
  }

  .container{
    background-color:rgb(74, 74, 75);
    height: 400px;
    width: 100%;
 }
 #h1{
  color: orangered;
  margin-left: 50px;
  font-size: 20px;
}
#button3{
  background-color:  rgb(38, 132, 240);
  color: white;
  border-radius: 3px;
  border-style: none;
  padding: 5px;
  margin-left:250px;

}

.portfolio .box-container{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: nowrap;
  padding:2rem 0;
}

.portfolio .box-container .box{
  height: 8rem;
  width:50rem;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
  border: 5px solid #fff ;
}

.portfolio .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;

}

.p{
  color: orangered;
  margin: 0;
  text-align: center;
  align-items:center;
  justify-content: center;
}



.container2{
  width: 100%;
  height: 300px;
  background-color: #fff;
 
}

.image{
  margin-left: 30%;
}

.container3{
  display: flex;
  background-color: rgb(74, 74, 75);
  width: 100%;
  height: 300px;
  align-content: left;
  justify-content: left;
 
}

.container3 div{
  background-color: rgb(74, 74, 75);
  align-items: left;
  margin: 0px;
  width: 100%;
  margin-left: 0px;
  padding:30px;
 color: rgb(231, 106, 60) ;
 font-weight: 600;
line-height: 0.9;
}


}

@media (max-width:480px){

  ul{
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    font-size: 10px;
   }
   ul li {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
   }
  
   ul li button{
    background-color: orangered;
    margin-top: 15px;
    border-style: none;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    font-size: 9px;
  }
  
  ul li img{
    width: 25px;
    height: 25px;
    margin-top: 11px;
    padding-left: 8px;
  }
  
  
  #yourlogo{
    margin-left: 17px;
  }
  
  #navbar{
    margin-left: 10px;
    background-color: rgb(65, 65, 241);
  }
  
  #navbarsearch{
    margin-left: 8px;
  }
  
  #img{
    width: 15px;
    height: 15px;
    align-items: center;
    margin-top: 17px;
  }

  .button{
    background-color: orangered;
    padding: 8px 30px 8px 30px;
    font-size: 10px;
    color: white;
    font-weight: 800;
    border-style: none;
    border-radius: 8px;
    
  }
  .content{
  width: 100%;
  height: 200px;
  background-image:url("assets/backgroundimage.jpg");
    
  }

  #heading{
    font-size: 25px;
  }

  .dotstyle{
    text-align:center;
  }
  .dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    bottom: 0;
    top: -100%
  }

  .dot1{
    height: 8px;
    width: 8px;
    background-color:orangered;
    border-radius: 50%;
    display: inline-block;
    
  }


  .button2{
    margin-left: 170px;
    font-size: 10px;
  }

  .services{
    height: 100px;
  }

  .servicescontent{
   margin-left: 80px;
   
  }

  .box div {
    width: 100px;
    display: inline-block;
    padding: 2px 3px 2px 3px;
    text-align: center;
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 10px;
    height: 60px;
  }


  img{
    width: 30px;
    height: 30px;
    margin-left: 0px;
}

p1{
  color: rgb(38, 132, 240);
  
}
.b{
    font-size: 10px;
    text-align: left;
    
}

.container{
  background-color:rgb(74, 74, 75);
  height: 200px;
  width: 100%;
}
#h1{
color: orangered;
margin-left: 50px;
font-size: 15px;
}

#button3{
background-color:  rgb(38, 132, 240);
color: white;
border-radius: 3px;
border-style: none;
padding: 3px;
margin-left:130px;
font-size: 10px;
}

.portfolio .box-container{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: nowrap;
  padding:2rem 0;
 
}

.portfolio .box-container .box{
  height: 4rem;
  width:20rem;
  margin: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  border: 5px solid #fff ;
  
}

.portfolio .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;

}

.p{
  color: orangered;
  margin: 0;
  text-align: center;
  align-items:center;
  justify-content: center;
 top: 0;
 font-size: 10px;
}

.container1{
  width: 100%;
  height: 200px;
 
}

#h4{
  text-align: center;
  color:  rgb(38, 132, 240);
  font-size: 15px;
 
}
#p4{
  text-align: center;
  font-size: 12px;
}

b{
  color:rgb(38, 132, 240) ;
  font-size: 10px;
}
#button4{
  background-color: rgb(38, 132, 240);
  border-style: none;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
}

.text{
  font-size: 10px;
  text-align: left;
}


.container2{
  width: 100%;
  height: 150px;
  background-color: #fff;
 
}

.image{
  margin-left: 40%;
}

h3{
  text-align: center;
  font-size: 12px;
}

h5{
  color: rgb(231, 106, 60);
  text-align: center;
  font-size: 12px;
}

.container3{
  display: flex;
  background-color: rgb(74, 74, 75);
  width: 100%;
  height: 350px;
  align-content: left;
  justify-content: left;
 
}

.container3 div{
  background-color: rgb(74, 74, 75);
  align-items: left;
  margin: 0px;
  width: 100%;
  margin-left: 0px;
  padding:8px;
 color: rgb(231, 106, 60) ;
 font-weight: 400;
line-height: 0.9;
}

.button4{
  font-size: 10px;
}

}
